<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <!-- Defines the Access Control for the Settings and Modules -->
    <acl>
        <resources>
            <!-- Magento Admin ACL -->
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::content">
                    <!-- OAuth Client ACL Settings Definition -->
                    <resource id="M2Oidc_OAuth::OAuth" title="M2Oidc OIDC" sortOrder="10" >
                        <!-- Provider Settings ACL definition -->
                        <resource id="M2Oidc_OAuth::provider_settings" title="Provider Settings" sortOrder="1"/>
                        <!-- OAuth Settings ACL definition -->
                        <resource id="M2Oidc_OAuth::oauth_settings" title="OAuth Settings" sortOrder="2"/>
                        <!-- Sign In Settings ACL definition -->
                        <resource id="M2Oidc_OAuth::signin_settings" title="Sign In Settings" sortOrder="3"/>
                        <!-- Attribute Settings ACL definition -->
                        <resource id="M2Oidc_OAuth::attr_settings" title="Attribute Mapping Settings" sortOrder="4"/>
                        <!-- OIDC Session Activity ACL definition -->
                        <resource id="M2Oidc_OAuth::oidc_sessions" title="OIDC Session Activity" sortOrder="5"/>
                        <!-- Passkey Settings ACL definition -->
                        <resource id="M2Oidc_OAuth::passkey_settings" title="Passkey Settings" sortOrder="6"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
