<?xml version="1.0"?>

<!-- This file defines our Events -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- This event is invoked before every controller is processed -->
    <event name="controller_action_predispatch">
        <observer name="m2oidc_test_config_request" instance="M2Oidc\OAuth\Observer\TestConfigRequestObserver" />
        <observer name="m2oidc_token_auto_refresh" instance="M2Oidc\OAuth\Observer\TokenAutoRefreshObserver" />
    </event>

    <event name="controller_action_postdispatch_customer_account_logout">
        <observer name="oauth_logout_observer" instance="M2Oidc\OAuth\Observer\OAuthLogoutObserver" />
    </event>

    <event name="customer_logout">
        <observer name="m2oidc_customer_set_logout_flag"
                  instance="M2Oidc\OAuth\Observer\CustomerSetLogoutFlagObserver"/>
    </event>

</config>
